<!-- Inherits from layout.html -->
{% extends "layout.html" %}

<!-- The block content replace the one encapsulated in  layout.html -->
{% block content %}
<section class="home">
    <div class="login-container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="../static/profile/man.jpg" alt="flip card picture">
                <div class="text">
                    <span class="text-1">Every new friend is a <br> new adventure</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
            <div class="back">
                <img class="backImg" src="../static/profile/man.jpg" alt="flip card picture">
                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one step</span>
                    <span class="text-2">Let's get started</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Login</div>
                    <form action="/login" method="POST">
                        {{ loginform.hidden_tag() }}
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                {{ loginform.login_email(placeholder="Enter your email") }}
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                {{ loginform.login_password(placeholder="Enter your password") }}
                            </div>
                            <div id="forgot" hidden><a href="#">Forgot password?</a></div>
                            <div class="button input-box">
                                <input id="login-button" type="submit" value="Login">
                            </div>
                            <!-- <div class="text sign-up-text">Don't have an account? <label for="flip">Signup now</label>
                            </div> -->
                        </div>
                    </form>
                </div>
                <div class="signup-form">
                    <div class="title">Signup</div>
                    <form action="/login" method="POST">
                        {{ registerform.hidden_tag() }}
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                {{ registerform.register_username(placeholder="Enter your username") }}
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                {{ registerform.register_email(placeholder="Enter your email") }}
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                {{ registerform.register_password(placeholder="Enter your password") }}
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Register">
                            </div>
                            <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}